<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adapto.panc">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.AdicionarPratoARestauranteActivity"></activity>
        <activity android:name=".Activities.Restaurante_MeuRestauranteActivity" />
        <activity android:name=".Activities.Produtor_DetalharProdutoActivity" />
        <activity android:name=".Activities.Produtor_ListarProdutosActivity" />
        <activity android:name=".Activities.Produtor_CadastrarProdutosActivity" />
        <activity android:name=".Activities.ListarEquipeActivity" />
        <activity
            android:name=".Activities.ConvidarActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Activities.CriarPostagemDuvidaActivity" />
        <activity android:name=".WebViewConfig" />
        <activity android:name=".Activities.TelaInicialActivity" />
        <activity android:name=".Activities.DetalharPostagemForumActivity" />
        <activity android:name=".Activities.CadastroActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>